@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color:silver;
  color: black;
}

#page-wrapper {
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: red;
}
.grid {
  display: flex;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo{
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 36vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#intro > h2 {
  margin-top: 50px;
  word-wrap: break-word;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#features {
  margin-top: 30px;
}
.pic {
  width: 50%;
  height: 50%;     
  border-radius: 40%;
}
#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
  font-size: 20;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100;
    text-align: center;
    padding: 0;
    height: 150px;
  } 
}

.feat-list{
  font-size:23px;
  margin-top: 100px;
  margin-left: 40px;
  line-height: 50px;
}

#Overview {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#Overview > iframe {
  max-width: 560px;
  width: 100%;
}

.pic2 {
  width: 60%;
  height: 40%; 
  margin-top:70px;
  border-radius:50%;
}

.desc2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 25vw;
  padding: 50px;
  margin-top:60px;
  font-size: 20;
  background-color: white;
  border-radius:50%;
}

@media (max-width: 550px) {
   .desc2 {
    width: 100;
    text-align: center;
    padding: 0;
    height: 150px;
  } 
}

.part1{
  margin-top: 100px;
  display:flex;
}

.part2 {
  margin-top:20px;
  display:flex;
}
.spec{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border-bottom: 1px solid #000;
  border-color: white;
}

@media (max-width: 800px) {
  .part1 {
    flex-direction: column;
  }
  
  part1 {
    flex-direction: column;
  }
  
  .spec {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.level{
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.spec-desc{
  margin: 25px 15px;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

#Sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#Sign_up > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#Sign_up input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#Sign_up input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: gold;
}

#Sign_up input[type='submit']:hover {
  background-color: lime;
  transition: background-color 1s;
}

#Sign_up input[type='button'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: gold;
}

#Sign_up input[type='button']:hover {
  background-color: lime;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #Sign_up {
    margin-top: 120px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

.mySlides {
  display:none;
}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}
.w3-badge {
  height:13px;
  width:13px;
  padding:0
}











